@import "../../sass/variables";

.paginate {
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 25px 0;
	gap: 5px;
	li {
    min-width: 32px;
    height: 32px;
		cursor: pointer;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid $color5;
		color: $color3;
		transition: all 0.15s ease-out;
		&:hover {
			color: $color4;
			background-color: $color1Hoverbasket;
		}
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
	}
}

:global {
	.selected {
		background-color: $color1Hoverbasket;
		a {
			color: $color4;
		}
	}
}

@media (max-width: 575.98px) {
.paginate {
  margin: 25px 5px;
}
}
