@import "../../sass/variables";

.cartItem {
	display: flex;
	width: 100%;
	max-width: 900px;
	padding: 24px 20px 18px 20px;
	margin: 6px 0;
	gap: 20px;
	border-top: 1px solid #c1e2f7;
	transition: all 0.15s ease-out;
	&:hover {
		background-color: #c1e2f7;
		border-radius: 20px;
		color: $color1Hover;
	}
}

.img {
	width: 72px;
	min-width: 72px;
	height: 108px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.contentCart {
	display: flex;
	flex: 1;
	justify-content: space-between;
	gap: 20px;
}

.left {
	cursor: pointer;
	flex: 1;
	p {
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		color: $background2;
	}
}

.right {
	display: flex;
	gap: 20px;
	align-items: start;
	justify-content: center;
	p {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		color: #43b643;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
	}
}

@media (max-width: 575.98px) {
	.cartItem {
    text-align: center;
		flex-direction: column;
	}

	.contentCart {
		flex-direction: column;
    gap: 10px;
	}
	.right {
		align-items: center;
		flex-direction: column-reverse;
    gap: 10px;
	}
}
